a,
.btn.btn-link {
	color: $green;
}

a:hover,
a:active {
	color: $teal;
}

.form-control:focus {
	border-color: $teal;
	box-shadow: 0 0 0 0.2rem $green;
}

.pagination {
	margin-bottom: 0;
	margin-top: 1rem;

	.page-link {
		color: $green;
	}

	.page-item.active .page-link {
		background-color: $green;
		border-color: $green;
	}

	.page-link:focus {
		box-shadow: 0 0 0 0.2rem $teal;
	}
}