
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Helpers
@import "helpers";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Navbar
@import "navbar";

// Footer
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 8px 0;
    border-top: 3px solid var(--green);
}
