// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600");

// Variables
@import "variables";

// Helpers
@import "helpers";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Navbar
@import "navbar";

// Overrides
@import "overrides";

// Footer
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 8px 0;
    border-top: 3px solid $green;
}

// carousel styles
.h-carousel {
    height: 300px;
}

.carousel-round {
    position: relative;
    display: flex;
    background-color: rgba(0, 0, 0, .8);
    padding: 15px;
    border-radius: 50%;
}

@include media-breakpoint-up(sm) {
    .h-carousel {
        height: 500px;
    }
}

@include media-breakpoint-up(md) {
    .h-carousel {
        height: 600px;
    }
}

// change profile picture
.c-pointer-image:hover+div,
.c-pointer-image+div:hover {
    opacity: 1;
}

.profile-image {
    display: flex;
    ;
    position: absolute;
    top: 0;
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, .4);
    color: #fff;
    opacity: 0;
    transition: .3s;

    span {
        margin: auto;
    }
}

.full-view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 1002;
}