// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Variables
@import "variables";

// Helpers
@import "helpers";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Navbar
@import "navbar";

// Footer
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 8px 0;
    border-top: 3px solid var(--green);
}

// default styles
a, .btn.btn-link {
    color: #28a745;
}
a:hover, a:active {
    color: var(--green);
}
.form-control:focus {
    border-color: var(--success);
    box-shadow: 0 0 0 0.2rem rgba(100, 255, 100, 0.25);
}

// carousel styles
.h-carousel {
    height: 300px;
}
.carousel-round {
    position: relative;
    display: flex;
    background-color: rgba(0, 0, 0, .8);
    padding: 15px;
    border-radius: 50%;
}
@include media-breakpoint-up(sm) {
    .h-carousel {
        height: 500px;
    }
}
@include media-breakpoint-up(md) {
    .h-carousel {
        height: 600px;
    }
}

// change profile picture
.c-pointer-image:hover + div, .c-pointer-image + div:hover {
    opacity: 1;
}
.profile-image {
    display: flex;;
    position: absolute;
    top: 0;
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, .4);
    color: #fff;
    opacity: 0;
    transition: .3s;
    span {
        margin: auto;
    }
}
